* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ff4d6d, #ff8fab);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  padding: 35px 40px;
  border-radius: 20px;
  text-align: center;
  width: 320px;
}

h1 {
  color: #ff4d6d;
}

.sub {
  color: #666;
  margin-bottom: 25px;
}

/* buttons layout */
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* YES */
#yesBtn {
  padding: 14px 28px;
  font-size: 18px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  background: linear-gradient(135deg, #ff4d6d, #ff758f);
  color: white;
}

/* NO area */
.no-box {
  width: 120px;
  height: 60px;
  position: relative;
}

#noBtn {
  position: absolute;
  padding: 14px 28px;
  font-size: 18px;
  border: none;
  border-radius: 40px;
  background: #ccc;
  cursor: pointer;
}

/* result */
#result {
  margin-top: 25px;
  font-size: 24px;
  color: #ff4d6d;
  font-weight: bold;
}
